<a href="/">Return to main menu</a>


<% @collection.each do |each| %>

  <ul>
    <li>First name: <%= each.first_name%></li>
    <li>Last name: <%= each.last_name%></li>
    <li>Email: <%= each.email%></li>
    <li>Notes: <%= each.note%></li>
  </ul>
  <p>----------------------------------</p>
<% end %>
